---
import BaseHeader from '~/components/base-header.astro';
import {
EmailIcon,
GithubIcon,
MdiLinkedin,
TwitterXIcon,
} from '~/components/ui/icons';
import { useI18n } from '~/i18n/utils';
import Main from '~/layouts/main.astro';

const { url } = Astro;
const { p, t } = useI18n(url);
---

<Main>
  <BaseHeader title={`Don't stop`} />
  <div data-animate data-animate-speed="slow">
    <div class="my-7" set:html={t('index.desc')} />
    <div class="my-7">
      <p set:html={t('index.currentWork')} />
      <div data-animate class="mt-1 flex gap-0.5">
        <a
          style="--lv-wait: 1;"
          class="rounded p-1 transition-colors hover:bg-selection hover:text-body"
          href="mailto:me@xolving.com"
        >
          <EmailIcon />
        </a>
        <a
          style="--lv-wait: 1;"
          class="rounded p-1 transition-colors hover:bg-selection hover:text-body"
          href="https://github.com/enbraining"
          target="_blank"
        >
          <GithubIcon />
        </a>
        <a
          style="--lv-wait: 1;"
          class="rounded p-1 transition-colors hover:bg-selection hover:text-body"
          href="https://twitter.com/enbraining"
          target="_blank"
        >
          <TwitterXIcon />
        </a>
        <a
          style="--lv-wait: 1;"
          class="rounded p-1 transition-colors hover:bg-selection hover:text-body"
          href="https://www.linkedin.com/in/enbraining/"
        >
          <MdiLinkedin />
        </a>
      </div>
    </div>
    <div class="my-14 flex gap-7">
      <div data-animate class="flex flex-col gap-1">
        {
          (['writing', 'note'] as const).map((item) => (
            <div style="--lv-wait: 2;">
              <a class="link font-bold" href={p(`/${item}`)}>
                {t(`nav.${item}`)}
              </a>
              <span class="ml-3 text-sm">{t(`nav.${item}.desc`)}</span>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</Main>
